*
{
    color:white;
}
.Main
{
    border:2px solid #131313;
    width:550px;
    height:370px;
    margin:0 auto;
    background-color: #131313;
}
#result
{
    width:98%;
    /* background-color: grey; */
    color:white;
    margin-left:1px;
    margin-right: 5px;
    background-color: #131313;
    height:50px;
}
.clearbtn
{
    width:100%;
    margin-top: 5px;
    /* background-color: grey; */
    margin-left:1px;
    margin-right: 5px;
    height:50px;
}
.btn
{
    /* background-color: grey; */
    width: 134px;
    /* margin: 5px; */
    height:50px;
}
.halfbtn
{
    /* background-color: grey; */
    width: 545px;   
    margin-left:1px;
    margin-top: 5px;
    height:50px;
}
button
{
    background-color: #131313;
}
button:hover
{
    background-color: #343434;
}